@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Mark Dungan";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   3704 Hamilton Ave<br />
    Fort Worth, TX 76107<br />
    <abbr title="Mobile">M:</abbr>
    817-846-6085<br />
    <abbr title="Home">H:</abbr>
    817-738-3923
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mdungan@edocendo.com.com">mdungan@edocendo.com</a><br />
</address>