@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mark's CRM App</h1>
    <p class="lead">This is a simple public Customer Relations Management application.  Feel free to create an account and start keeping track of customers.  If you have any questions, please feel free to email me below.</p>
    <p><a href="mailto://mdungan@edocendo.com" class="btn btn-primary btn-lg">Email Mark &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assumptions</h2>
        <p>
            I had to make a few assumptions to complete the web test.  They are as follows:
            <ul>
                <li>The CRM is single tenant</li>
                <li>Any registered user could manipulate customers.</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accomplishments</h2>
        <p>I got to play with several new libraries and I was pleased to see how much EF had come along sine EF 4.  I also had the opportunity to play with:</p>
        <ul>
            <li>Effort</li>
            <li>NMemory</li>
            <li>Autofac</li>
            <li>Moq</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Broken Dreams</h2>
        <p>As always, their are items I wish I had time to complete.  My first mistake was to use TFS as a source control repository - habit.  My second mistake was writing my unit tests in mstest.  I had to go back and rewrite them in nunit.  Additionally, my razor was rusty and reverting to Code First took some time to get back to speed.  There was a lot more I wanted to showcase.  But, that is why this section is called broken dreams.</p>
    </div>
</div>